@import "tailwindcss";

@theme {
  --color-airbnb: #FF385C;
  --color-airbnb-dark: #E31C5F;
  --color-black: #222222;
  --color-gray-text: #717171;
  --color-light-gray: #EBEBEB;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #222222;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}
